.c_box {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    margin-bottom: 5rem;
}

.c_img,
.c_img img {
    width: 12rem;
    height: 13rem;
}

.c_input button {
    background-color: orange;
    padding: 0.2rem;
    border: 2px solid var(--text2);
}

.c_input {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}