.c_div {
    display: flex;
    justify-content: center;
}

.c_main_box {
    margin: 7rem 0;
    max-width: 40rem;
    width: 100%;
    color: var(--text2);
    background-color: var(--bg);
    box-shadow: 0 0 5px 2px var(--text2);
    padding: 1rem;
}

.c_empty {
    color: red;
    text-align: center;
}

.c_p {
    display: flex;
    justify-content: flex-end;
}

.c_btn {
    background-color: orange;
    padding: 0.2rem;
    border: 2px solid var(--text2);
    max-width: 38rem;
    width: 100%;
}