.n_navbar {
    background: var(--navbar);
    backdrop-filter: blur(10px);
    width: 97rem;
    width: 100%;
    height: 4rem;
    color: var(--text2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    position: fixed;
    z-index: 100;
}

#theme-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text2);
    transition: 0.3s ease;
}

.n_links {
    display: flex;
    column-gap: 1.5rem;
    color: rgb(53, 132, 235);
}

@media(max-width: 815px) {
    .n_navbar {
        padding: 1rem 2rem;
    }
}